/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Box sizing. Courtesy of Paul Irish
 * (http://www.paulirish.com/2012/box-sizing-border-box-ftw/) */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background: whitesmoke;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #444;
}

h2 {
  font-weight: 300;
}

hr {
  width: 75%;
}

a {
  color:FireBrick;
  text-decoration: none;
}

p {
  margin: 0 0 10px;
}

a:visited {
  color:#855C85;
}

a:hover {
  color:FireBrick;
  text-decoration: underline;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

blockquote {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 1rem;
  border-left: solid 3px #aaa;
}

blockquote p {
  margin-bottom: 6px;
}

@font-face {
    font-family: 'dejavu_sans_monobook';
    src: url('DejaVuSansMono-webfont.eot');
    src: url('DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSansMono-webfont.woff') format('woff'),
         url('DejaVuSansMono-webfont.ttf') format('truetype'),
         url('DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*****************************************************************************/
/*
/* Grid
/*
/*****************************************************************************/

/* Grid. Courtesy of Adam Kaplan (http://www.adamkaplan.me/grid/) */
.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}

@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.three-fourths { width: 75%; }
  .column.flow-opposite { float: right; }  
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

@media (min-width: 40rem) {
  .column.flow-opposite { float: right; }
}

/* More suggestions from Jorden Lev (http://jordanlev.github.io/grid/) */
@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

img { width: auto; max-width: 100%; height: auto; }

/* Credit http://avexdesigns.com/responsive-youtube-embed/#sthash.Q9VzxV8M.dpuf
 * for this responsive video embed css */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
}

/* By me */
.hide-mobile {
  display: none;
}
.hide-desktop-inline-block { display: inline-block }
.hide-desktop-block { display: block }
.hide-desktop-inline { display: inline }

@media (min-width: 40rem) {
  .hide-desktop { display: none }
  .hide-mobile-inline-block { display: inline-block }
  .hide-mobile-block { display: block }
  .hide-mobile-inline { display: inline }
}

/*****************************************************************************/
/*
/* Blog
/*
/*****************************************************************************/

h1.title {
  display: inline-block;
  padding-right: 10px;
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
}

div.header {
  margin: 20px 0 20px;
  text-align: center;
}

@media (min-width: 40rem) {
  div.header {
    text-align: start;
  }
}

div.header a {
  color: FireBrick;
}

span.timestamp {
  font-size: 0.85rem;
  margin-top: 7px;
}

@media (min-width: 40rem) {
  span.timestamp {
    float: right;
  }
}

.post-header {
  padding-bottom: 10px;
}

a.read-more {
  float: right;
  font-size: 0.85rem;
}

h2.post-title {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 40rem) {
  p.contact-links {
    float: right;
  }
}

.contact {
  text-align: center;
  padding-bottom: 10px;
}

div.more-row {
  padding-top: 5px;
}

div.pagination {
  text-align: center;
  margin-bottom: 10px;
}

div.rss {
 text-align: center;
}

a.rss img {
  max-width: 16px;
  max-height: 16px;
  margin: 0.5rem 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  white-space: pre;
}

@media (min-width: 40rem) {
  .post pre {
    white-space: pre-wrap;
  }
}

.post ul, .post ol {
  margin-left: 0;
  padding-left: 20px;
}

@media (min-width: 40rem) {
  .post ul, .post ol {
    margin-left: 0.5em;
    padding-left: 40px;
  }
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
  font-size: 8pt;
  font-family: 'dejavu_sans_monobook', Courier, monospace;
}

@media (min-width: 40rem) {
  .post code {
    font-size: 10pt;
  }
}

.post pre code {
  border: none;
  padding: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post img.half-left {
  float: none;
  width: 100%;
}

.post img.half-right {
  float: none;
  width: 100%;
}

@media (min-width: 40rem) {
  .post img.half-left {
    float: left;
    width: 49%;
    margin-bottom: 10px;
  }
  .post img.half-right {
    float: right;
    width: 49%;
    margin-bottom: 10px;
  }
}

/*****************************************************************************/
/*
/* Homepage
/*
/*****************************************************************************/

#home {
  display: block;
  position: relative;
  padding-top: 1.5rem;
}

/* credit to http://codepen.io/bennettfeely/pen/Ftczh for a lot of this css */

.card {
  position: relative;
  z-index: 2;
  padding: 1rem;
  box-shadow: 0 1px 2px #aaa;
  background: white;
  margin: 0 0.5rem 1rem;
  border-radius: 3px;
  user-select: none;
}

h1.big-name {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 0;
  text-align: center;
}

#front-quote , #front-quote, .profile-card-desc p {
    margin-top: 0;
    margin-bottom: 0;
}

.profile-card-portrait {
  width: 100%;
  margin-bottom: 1.5rem;
}

.profile-card-quote {
  margin-top: 1.5rem;
}

.profile-card-portrait img {
  margin: 0 auto;
  display: block;
}

.profile-card-desc {
    margin-top: 1.25rem;
}

@media (min-width: 40rem) {
  .profile-card-portrait {
    margin-bottom: 0;
  }
  .profile-card-links {
    margin-top: 0;
  }
}

.link-card {
  text-align: center;
  text-decoration: none;
}

.link-card img {
  max-width: 64px;
  max-height: 64px;
}

.mobile-half {
  padding: 0;
  float: left;
  width: 50%;
}

@media (min-width: 40rem) {
  .mobile-half {
    padding: 0;
  }
}

a.no-decoration {
  color: #444;
  display: block;
}

a.no-decoration:visited {
  color: #444;
}

a.no-decoration:hover {
  color: #444;
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Magic
/*
/*****************************************************************************/

div.controls-tab button {
  width: 28px;
  height: 28px;
}

div.options-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  z-index: 10;
  height: auto;
  background-color: rgba(140,120,100,0.75);
  color: white;
}

div.controls-tab {
  position: relative;
}

div.controls {
  position: absolute;
  top: -2.6rem;
  right: 1rem;
  height: 2rem;
  padding-right: 5px;
  padding-left: 5px;
  background-color: rgba(140,120,100,0.75);
}

div.controls button {
  padding: 0.25rem;
  margin-top: 0.25rem;
  background-color: rgb(100, 100, 100);
  border: 1px grey solid;
  color: white;
  font-size: small;
}

div.options-panel form {
  text-align: center
}

div.options-panel form label {
  display: block;
}
