/* Dark theme */

html {
  background-color: rgba(10, 10, 10, 0.9);
}

body {
  background-color: #222222 !important;
}

.root {
  color: #afafaf !important;
}

.card {
  box-shadow: 0 1px 2px #5e5e5e !important;
  background-color: #1a1a1a !important;
}

.post pre {
  background-color: #271a26 !important;
  border: 1px solid #354535 !important;
}

.post code {
  background-color: #271a26 !important;
  border: 1px solid #354535 !important;
}

.post pre code {
  background-color: #271a26 !important;
  border: none !important;
}

.post a code {
  background-color: #222 !important;
  border: 1px solid #333 !important;
}
