/* Dark theme */

html {
  filter: invert(90%);
}

img:not(.icon), video, div.video-container {
  filter: invert(100%);
}

img:not(.icon) {
  opacity: .75;
  transition: opacity .5s ease-in-out;
}

img:hover:not(.icon) {
  opacity: 1;
}

a:not(.card), a:hover:not(.card) {
  filter: invert(100%);
}

a:not(.card) img:not(.icon) {
  filter: none;
}

.card {
  box-shadow: 0 1px 2px #fff !important;
}

.post pre {
  background-color: #fff !important;
}

.post a code {
  background-color: #222 !important;
  border: 1px solid #333 !important;
}
