<div class="card">
  <div class="subscribe-form">
    <div class="row clearfix">
      <div class="column full">
        <h3>Subscribe to my future posts</h3>
      </div>
    </div>
    <form action="http://list.hallada.net/subscribe" method="POST" accept-charset="utf-8">
      <div class="row clearfix">
        <div class="column half">
          <label for="name">Name (optional)</label><br />
          <input type="text" name="name" id="name" />
        </div>
        <div class="column half">
          <label for="email">Email</label><br />
          <input type="email" name="email" id="email" />
        </div>
      </div>
      <div class="row clearfix">
        <div style="display:none;">
          <label for="hp">HP</label><br />
          <input type="text" name="hp" id="hp" />
        </div>
        <input type="hidden" name="list" value="Q7JrUBzeCeftZqwDtxsQ9w" />
        <div class="column half">
          <input type="submit" name="submit" id="submit" value="Submit" />
        </div>
        <div class="column half">
          <span class="form-rss">Or subscribe to my <a href="/feed.xml">RSS feed</a></span>
        </div>
      </div>
    </form>
    <div class="row clearfix">
    </div>
  </div>
</div>
